main{
    width: 100%;
    height: 95%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
section{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  height: 50%;
  border-radius: 50%;
}

#text{
  width: 60%;
  flex-direction: column;
  border-radius: 50px;
  color: white;
}
#text h1{
  width: 100%;
  text-align: end;
  font-size: 64px;
  color: #0000FF;
  text-shadow: .5px .5px 0px rgba(255, 255, 255, 0.5);
  font-weight: 700;
}
#text p{
  text-align: end;
  text-indent: 20px;
  font-size: 20px;
  color: #c2c2c2;
}

#text a{
  width: 100%;
}
#text button{
  width: 100%;
  height: 70px;
  font-size: 30px;
  background-color: #FF5C08;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 30px;
  border: none;
}

@media (max-width: 800px) {
  main{
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding-bottom: 50px;
  }
  #text{
    width: 90%;
  }
  #text h1{
    font-size: 40px;
  }
  img{
    width: 100%;
    height: auto;
    margin: 20px;
  }
}
