@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'Roboto Slab', serif;
  }
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}
header{
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  }
header h1{
  font-size: 30px;
  color: #0000FF;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
ul{
  display: flex;
  gap: 25px;
  list-style: none;
}

a{
  color: #0000FF;
  text-decoration: none;
}

ul a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 0px 2px #FF5C08;
  font-size: 23px;
}
a:hover{
  text-decoration: underline;
}

@media (max-width: 800px) {
  header{
    padding: 0px 5px;
  }
  ul{
    gap: 10px;
  }
}