header{
    width: 100vw;
    height: 100px;
    background-color: grey;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

header ul{
    float: right;
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

header li{
    margin-right: 30px;
    font-size: 20px;
    color: black;
}

@media (max-width: 600px) {
    header ul{
        flex-direction: column;
    }
    header li{
        font-size: 20px;
        color: black;
        margin: 5px 0px;
    }
    
}